<div class="load">
  <div class="container">
    <div class="row">

      <div class="animationload">
        <div class="osahanloading"></div>
      </div>
    </div>
  </div>
</div>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Full - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->

</head>

<body>

<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" >ProMatching</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item active">-->
<!--<a routerLink="/" class="nav-link" routerLink="/homepage">Homepage-->
<!--<span class="sr-only">(current)</span>-->
<!--</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" routerLink="/login">Login</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">About</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<!-- Page Content -->
<div class="hero-image">
  <router-outlet></router-outlet>
  <div class="signup__container">
    <div class="container__child signup__thumbnail">
      <div class="thumbnail__logo">
        <svg class="logo__shape" width="25px" viewBox="0 0 634 479" xmlns="http://www.w3.org/2000/svg"><g>
        </g></svg>
        <h1 class="logo__text">ProMatch</h1>
      </div>
      <div class="thumbnail__content text-center">
        <!--<h1 class="heading&#45;&#45;prima ry">Welcome</h1>-->
        <!--<h2 class="heading&#45;&#45;secondary">Are you ready to join the elite?</h2>-->
      </div>
      <div class="thumbnail__links">
        <ul class="list-inline m-b-0 text-center">
          <li><a href="http://alexdevero.com/" target="_blank"><i ></i></a></li>
          <li>
            <a href="https://www.behance.net/alexdevero" target="_blank">
            </a>
          </li>
          <li><a href="https://github.com/alexdevero" target="_blank"><i ></i></a></li>
          <li><a href="https://twitter.com/alexdevero" target="_blank"><i></i></a></li>
        </ul>
      </div>
      <div class="signup__overlay"></div>
    </div>
    <div class="container__child signup__form">
      <form (submit)="login($event)" ngNativeValidate action="#">
        <div class="form-group">
          <label for="username">E-mail : </label>
          <input class="form-control" type="text" name="username" id="username" placeholder="E-mail " required [(ngModel)]="mail" [pattern]="emailPattern"  />
        </div>

        <div class="form-group">
          <label for="password">Password :</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="********" required [(ngModel)]="password" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        <div class="m-t-lg">
          <ul class="list-inline">
            <li>

              <input class="btn btn--form" type="submit" value="Login" />
            </li>
            <br>
            <li>
              <a class="signup__link" routerLink="/register">Don't have an account?</a>
            </li>


          </ul>
        </div>

      </form>
    </div>
  </div>
</div>


</body>

</html>
