
<app-layouts></app-layouts>

<div class="container" style="padding: 20px ; background: #eee">

  <div class="panel-group">

    <div class="container">
      <div class="row">
        <div style="width: 50% ; float: left">
          <h2>Start your search</h2> <br></div>
        <div class="search" style=" float: right ; margin-right: 50px">
          <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"   [(ngModel)]="queryString"/>
          <button type="submit" class="btnn btn-primary btn-sm">Search</button>
        </div>
      </div>
    </div>

    <a routerLink="/add-annonce" class="btn btn-secondary btn-xs pull-right">
      <span class="glyphicon glyphicon-plus"></span>
       Add new Service</a>

    <table class="table table-striped custab" style="background-color: #dae0e4">
      <thead>


      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Phone N°</th>
        <th>Description</th>
        <th>Adress</th>
        <th>Email</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tr   *ngIf="annonces.length==0" style="width: 100% ; background-color: #fff">
        <td colspan="7" style="background-color: #fff"><img src="../../assets/Loading_icon.gif" style="width: 150px" class="center-block" ></td>
      </tr>
      <tr *ngFor="let a of  annonces | filter: queryString : 'title'">
        <td> {{a.title}}</td>
        <td>{{a.category.name}}</td>
        <td>{{a.phone}}</td>
        <td> {{a.description}}</td>
        <td>{{a.city}}</td>
        <td>{{a.picture}}</td>
        <td class="text-center"><a class='btn btn-info ' routerLink="/edit-annonce/{{a.id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          <a (click)="deleteAnnonce(a.id)" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span> Del</a></td>
      </tr>

    </table>

  </div>
</div>
<!--
</body>

</html>
-->