
<table>
  <tr>
    <td>
      <input type="checkbox" value="monday" [(ngModel)]="monday.Day"> Monday
    </td>
    <td>
     From : <input type="time" [(ngModel)]="monday.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="monday.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="monday.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="monday.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="tuesday" [(ngModel)]="tuesday.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="tuesday.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="tuesday.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="tuesday.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="tuesday.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="wednesday" [(ngModel)]="wed.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="wed.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="wed.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="wed.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="wed.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="thursday"[(ngModel)]="thur.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="thur.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="thur.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="thur.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="thur.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="friday" [(ngModel)]="fri.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="fri.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="fri.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="fri.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="fri.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="saturday" [(ngModel)]="sat.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sat.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sat.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sat.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sat.Tot">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="sunday"[(ngModel)]="sun.Day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sun.Fromo">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sun.Too">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sun.Fromt">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sun.Tot">
    </td>
  </tr>

</table>
<a  (click)="save()"><button>Save</button></a>
