
<table>
  <tr>
    <td>
      <input type="checkbox" value="monday" [(ngModel)]="monday.day"> Monday
    </td>
    <td>
     From : <input type="time" [(ngModel)]="monday.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="monday.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="monday.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="monday.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="tuesday" [(ngModel)]="tuesday.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="tuesday.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="tuesday.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="tuesday.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="tuesday.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="wednesday" [(ngModel)]="wed.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="wed.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="wed.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="wed.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="wed.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="thursday"[(ngModel)]="thur.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="thur.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="thur.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="thur.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="thur.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="friday" [(ngModel)]="fri.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="fri.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="fri.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="fri.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="fri.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="saturday" [(ngModel)]="sat.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sat.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sat.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sat.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sat.to2">
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" value="sunday"[(ngModel)]="sun.day"> Monday
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sun.from1">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sun.to1">
    </td>
    <td>
      From : <input type="time" [(ngModel)]="sun.from2">
    </td>
    <td>
      To : <input type="time" [(ngModel)]="sun.to2">
    </td>
  </tr>

</table>
<a  (click)="save()"><button>Save</button></a>
