<app-layouts></app-layouts>
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="../../assets/user.png" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{username}}
          </div>
          <div class="profile-usertitle-job">
           {{mail}}
          </div>
          <div class="profile-usertitle-job">
            {{type}}
          </div>
        </div>



        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>

      <div class="profile-content">
       <form (submit)="updatepassword(pwd , pwdc1 , pwdc2)" ngNativeValidate >

         <div class="form-group">
           <label class="col-md-3 control-label">Current password:</label>
           <div class="col-md-9">
             <input type="password" class="form-control" placeholder="Add Current Password" name="pwd" [(ngModel)]="pwd" required >
           </div>
         </div>
         <div class="form-group">
           <label class="col-md-3 control-label">New password :</label>
           <div class="col-md-9">
             <input type="password" class="form-control" placeholder="Add New Password" name="pwdc1" [(ngModel)]="pwdc1" required >
           </div>
         </div>
         <div class="form-group">
         <label class="col-md-3 control-label">Repeat new password:</label>
         <div class="col-md-9">
           <input type="password" class="form-control" placeholder="Add New Password" name="pwdc2" [(ngModel)]="pwdc2" required >
         </div>
       </div>
         <div class="form-group">

           <div class="col-md-9">
             <input type="submit" class="btn btn-success"   [(ngModel)]="pwdc2" value="Save" >
           </div>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>