<div class="load">
    <div class="container">
        <div class="row">

            <div class="animationload">
                <div class="osahanloading"></div>
            </div>
        </div>
    </div>
</div>
<div class="hero-image">
    <router-outlet></router-outlet>
    <div class="signup__container">
        <div class="container__child signup__thumbnail">
            <div class="thumbnail__logo">
                <svg class="logo__shape" width="25px" viewBox="0 0 634 479" ><g>
                </g></svg>
                <h1 class="logo__text">ProMatch</h1>
            </div>
            <div class="thumbnail__content text-center">
                <!--<h1 class="heading&#45;&#45;prima ry">Welcome</h1>-->
                <!--<h2 class="heading&#45;&#45;secondary">Are you ready to join the elite?</h2>-->
            </div>
            <div class="thumbnail__links">
                <ul class="list-inline m-b-0 text-center">
                    <li><a href="http://alexdevero.com/" target="_blank"><i ></i></a></li>
                    <li>
                        <a href="https://www.behance.net/alexdevero" target="_blank">
                        </a>
                    </li>
                    <li><a href="https://github.com/alexdevero" target="_blank"><i ></i></a></li>
                    <li><a href="https://twitter.com/alexdevero" target="_blank"><i></i></a></li>
                </ul>
            </div>
            <div class="signup__overlay"></div>
        </div>
        <div class="container__child signup__form">
            <form  action="#" ngNativeValidate (submit)="addUser(username,mail , type , password)">

                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text"  placeholder="Username " required [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-group">
                    <label >E-mail </label>
                    <input class="form-control" type="email"  placeholder="Mail " required [(ngModel)]="mail"  [ngModelOptions]="{standalone: true}"   />
                </div>
                <div class="form-group">
                    <label >Type </label>
                    <select class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                        <option value="Particular" > particular</option>
                        <option value="Professional"> professional</option>

                    </select>
                </div>

                <div class="form-group">
                    <label>Password{{password}}</label>
                    <input class="form-control" type="password"  placeholder="********" required [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" />
                </div>
                <div  class="alert alert-danger" *ngIf="valid"> {{valid}}</div>

                <div class="m-t-lg">
                    <ul class="list-inline">
                        <li>

                            <input class="btn btn--form" type="submit" value="Register" />
                        </li>
                        <br>
                        <li>
                            <a class="signup__link" routerLink="/login"> Already have an account ?</a>
                        </li>


                    </ul>
                </div>

            </form>
        </div>
    </div>
</div>

